fastkan
huggingface-hub==0.23.2
jupyter==1.0.0
jupyter-client==8.6.2
jupyter-console==6.6.3
jupyter-core==5.7.2
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter-server==2.14.0
jupyter-server-terminals==0.5.3
jupyterlab==4.2.1
jupyterlab-pygments==0.3.0
jupyterlab-server==2.27.2
jupyterlab-widgets==3.0.11
matplotlib==3.9.0
matplotlib-inline==0.1.7
nltk==3.8.1
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.0
torch==2.3.0+cu121
torchdata==0.7.1
torchtext==0.18.0
torchvision==0.18.0+cu121
tokenizers==0.19.1
tqdm==4.66.4
transformers==4.41.1

